.page-gallery {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $w992) {
        flex-direction: row;
    }

    &__aside {
        width: 100%;

        padding-bottom: 40px;

        @media screen and (min-width: $w992) {
            padding-bottom: 0;
            max-width: 288px;
            min-width: 288px;
        }
    }

    &__content {
        flex-grow: 1;

        @media screen and (min-width: $w992) {
            padding-left: 40px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        padding: 15px;


    }

    &__pagination {
        padding-top: 40px;

        @media screen and (min-width: $w1200) {
            padding-top: 100px;
        }
    }
}

.card-gallery {



    background: #FFFFFF;
    border: 1px solid #EDF2F5;
    border-radius: 2px;
    padding: 20px;

    @media screen and (min-width: $w760) {
        display: flex;
    }

    @media screen and (min-width: $w1200) {
        padding: 30px;
    }

    &__image {

        padding-bottom: 20px;

        @media screen and (min-width: $w760) {
            width: 280px;
            min-width: 280px;
            padding-bottom: 0;
        }

        @media screen and (min-width: $w1200) {
            width: 360px;
            min-width: 360px;

        }




        & picture {
            display: block;
            padding-top: 70%;
            position: relative;

            @media screen and (min-width: $w1200) {
                padding-top: 75%;
            }

            & img {
                @include layer(1);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__main {
        padding: 0 15px;

        @media screen and (min-width: $w1200) {
            padding: 0 0 0 40px;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {

        padding-bottom: 20px;

        & a {
            font-weight: 600;
            font-size: 20px;
            color: $blue;
            line-height: 150%;


            &:hover {
                text-decoration: underline;
            }

        }
    }

    &__desc {
        font-size: 16px;
        padding-bottom: 40px;

        & span {
            @include line-clamp(7);
            line-height: 150%;
        }
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 20px;

        @media screen and (min-width: $w1200) {
            margin-top: auto;
            padding-bottom: 0;
        }
    }

    &__contact {
        & a {
            color: $green;
            font-size: 16px;


            text-decoration: underline;

        }
    }

    &__email {
        padding-bottom: 5px;
    }

    &__link {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        align-self: flex-end;

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__tags {


        padding-top: 25px;


        & ul {
            margin: -5px;
            display: flex;
            flex-wrap: wrap;

            @media screen and (min-width: $w1200) {
                margin: -10px;
            }
        }

        & li {
            padding: 5px;

            @media screen and (min-width: $w1200) {
                padding: 10px;
            }

            & a {
                display: inline-flex;

                background-color: $blue-for-card;
                height: 42px;
                border-radius: 2px;
                padding: 0 1.5em;

                line-height: 38px;
                white-space: nowrap;


                &.color--blue {
                    background-color: $blue;
                    color: #fff;
                }

                &.color--green {
                    background-color: $green;
                    color: #fff;
                }
            }
        }
    }
}