mixin why-qualification
    section.section-why-qualification   
        .container
            .why-qualification
                .why-qualification__image
                    +picture('/img/photo-why')
                .why-qualification__right
                    .why-qualification__title Вам нужна эта программа
                    .why-qualification__subtitle Если вы желаете:
                    .why-qualification__list
                        ul
                            li Развивать и совершенствовать лексические и грамматические навыки, необходимые для успешного учебного и профессионального медицинского общения на русском языке;
                            li Читать, воспринимать на слух и проводить смысловой анализ профессионально значимых медицинских текстов, вести медицинскую документацию на русском языке;
                            li Вести расспрос больного на русском языке;
                            li Грамотно, эффективно участвовать в профессиональном диалоге с русскими коллегами или партнерами;
                            li Осуществлять поиск информации на русском языке с использованием современных инфокоммуникационных ресурсов;
                            li Получить удостоверение о повышении квалификации в ведущем государственном университете с международным признанием.
