mixin school-optional
    section.section-school-optional
        .container
            .school-optional
                .school-optional__title Факультативные занятия
                .school-optional__list
                    .school-optional__item
                        .school-optional__item-number: span 01
                        .school-optional__item-name Молодежный клуб "Эврика"
                        .school-optional__item-desc Знакомство с географией России и мира. Организация и участие в экскурсиях, походах, исследованиях, конференциях, конкурсах. 

                    .school-optional__item
                        .school-optional__item-number: span 02
                        .school-optional__item-name Русская математическая школа
                        .school-optional__item-desc Для детей 1-4 классов. Для учащихся 5-8 классов.
