mixin map-qualification
    section.section-map-qualification
        .map-qualification
            .map-qualification__container
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3206.5187699309677!2d-4.8940065844524625!3d36.5174769912623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72d963b5873563%3A0x672c37b6059f879a!2z0KDRg9GB0YHQutCw0Y8g0YjQutC-0LvQsCBOIDEg0JzQsNGA0LHQtdC70YzRjyDQmNGB0L_QsNC90LjRjw!5e0!3m2!1sru!2sby!4v1660965670957!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

