mixin themes-event-block
    section.section-themes-event-block
        .container
            .themes-event-block
                .themes-event-block__title Темы мероприятия
                .themes-event-block__list
                    .themes-event-block__item
                        .themes-event-block__item-number
                            span 1
                        .themes-event-block__item-title Дистанционное тестирование на базе учебного заведения учащихся
                        .themes-event-block__item-desc На 1 этапе олимпиады зарегистрированным участникам предлагается пройти дистанционное тестирование: комбинированный тест из 40 вопросов – 20 вопросов close-тест (15 вопросов по тексту (350-400 слов, текст научно-популярного характера) (пропуски в тесте – лексика + грамматика), 5 вопросов по содержанию (на понимание текста) + 20 вопросов теста закрытого типа (задания на лексику, грамматику, синтаксические и грамматические конструкции на основе материала научного стиля речи по выбранной специальности).
                    .themes-event-block__item
                        .themes-event-block__item-number
                            span 2
                        .themes-event-block__item-title Очное участие конкурсантов, прошедших 1 этап
                        .themes-event-block__item-desc Данный этап включает в себя написание эссе, решение кейс-заданий (участие в дискуссии)
                    .themes-event-block__item
                        .themes-event-block__item-number
                            span 3
                        .themes-event-block__item-title Индивидуальное участие в деловой игре
                        .themes-event-block__item-desc Третий этап представляет собой индивидуальное участие в деловой игре "Я знаю!". В ходе игры участники должны представить спонтанное выступление на одну из предложенных в карточках тем.


