mixin about-fact
    section.section-about-fact
        .container
            .about-fact
                .about-fact__intro
                    .about-fact__title А вы знаете, <br> что:
                .about-fact__first(style="background-image: url('/img/01.svg')")
                    .about-fact__number 01.
                    .about-fact__desc На русском языке разговаривают 258 млн человек
                .about-fact__two
                    .about-fact__number 02.
                    .about-fact__desc Русский язык является рабочим в 15 крупнейших международных организациях (ООН, ЮНЕСКО и др.)
                .about-fact__three
                    .about-fact__number 03.
                    .about-fact__desc Русский язык занимает второе место по количеству сайтов в сети Интернет
                .about-fact__middle
                    +picture('/img/we-are-photo-hand')
                .about-fact__four(style="background-image: url('/img/04.svg')")
                    .about-fact__number 04.
                    .about-fact__desc Русский язык занимает пятое место по числу научных публикаций в МБД Web of Science и Scopus