include ../../components/pagination/pagination.pug

-
    var worker = [
        {
            image: '/img/wr1',
            name: 'Должикова Анжела Викторовна',
            post: 'Директор Института русского языка РУДН, кандидат наук',
        },
        {
            image: '/img/wr2',
            name: 'Ельникова Светлана Игоревна',
            post: 'Первый заместитель директора, кандидат педагогических наук, доцент',
        },
        {
            image: '/img/wr3',
            name: 'Алимова Лилия Баторгалиевна',
            post: 'Заместитель директора по учебной работе, доктор исторических наук, доцент',
        },
        {
            image: '/img/wr2',
            name: 'Ельникова Светлана Игоревна',
            post: 'Первый заместитель директора, кандидат педагогических наук, доцент',
        },
        {
            image: '/img/wr3',
            name: 'Алимова Лилия Баторгалиевна',
            post: 'Заместитель директора по учебной работе, доктор исторических наук, доцент',
        },
        {
            image: '/img/wr4',
            name: 'Куновски Марина Николаевна ',
            post: 'Заместитель директора по международной деятельности, кандидат филологических наук',
        },
        {
            image: '/img/wr3',
            name: 'Алимова Лилия Баторгалиевна',
            post: 'Заместитель директора по учебной работе, доктор исторических наук, доцент',
        },
        {
            image: '/img/wr2',
            name: 'Ельникова Светлана Игоревна',
            post: 'Первый заместитель директора, кандидат педагогических наук, доцент',
        },
        {
            image: '/img/wr3',
            name: 'Алимова Лилия Баторгалиевна',
            post: 'Заместитель директора по учебной работе, доктор исторических наук, доцент',
        },
        {
            image: '/img/wr4',
            name: 'Куновски Марина Николаевна ',
            post: 'Заместитель директора по международной деятельности, кандидат филологических наук',
        },
        {
            image: '/img/wr3',
            name: 'Алимова Лилия Баторгалиевна',
            post: 'Заместитель директора по учебной работе, доктор исторических наук, доцент',
        },
        {
            image: '/img/wr4',
            name: 'Куновски Марина Николаевна ',
            post: 'Заместитель директора по международной деятельности, кандидат филологических наук',
        },
    ]



mixin page-team
    .page-team__list
        each item in worker   
            .page-team__item: +card-worker(item)
    .page-team__pagination
        +pagination()


mixin card-worker(data)
    .card-worker
        .card-worker__image
            +picture(data.image)
        .card-worker__name= data.name
        .card-worker__post= data.post
