include ../../components/faq/faq.pug

-
    var faq = [
        {
            title:'Лексика и грамматика медицинского дискурса',
            answer: [
                '1. Развить умения информационно-поисковой деятельности на русском языке, направленной на совершенствование профессионально-коммуникативных деятельности в области медицины, биомедицины, фармации, стоматологии'
            ],
        },
        {
            title:'Учебно-научное медицинское общение',
            answer:[
                '2. Развить умения информационно-поисковой деятельности на русском языке, направленной на совершенствование профессионально-коммуникативных деятельности в области медицины, биомедицины, фармации, стоматологии'
            ],
        },
        {
            title:'Профессиональная медицинская коммуникация',
            answer:[
                '3. Развить умения информационно-поисковой деятельности на русском языке, направленной на совершенствование профессионально-коммуникативных деятельности в области медицины, биомедицины, фармации, стоматологии'
            ],
        },
        {
            title:'Итоговая аттестация',
            answer:[
                '4. Развить умения информационно-поисковой деятельности на русском языке, направленной на совершенствование профессионально-коммуникативных деятельности в области медицины, биомедицины, фармации, стоматологии'
            ],
        },
    ]

mixin program-qualification
    section.section-program-qualification
        .pattern-float(style="background-image: url('/img/pattern-float.svg')")
        .container
            .program-qualification 
                .program-qualification__title
                    .program-qualification__title-text Программа обучения
                    .program-qualification__title-prop
                        span 54 ак.ч. / 3 недели 
                .program-qualification__faq
                    +faq(faq)
                    
