-
    var lineup = [
        {
            date: 'с 10.06.2022  по 30.09.2022',
            title: 'Регистрация заявок от ВУЗа',
            title: 'Вуз подает заявку на участие студентов. Оргкомитет отправляет учащимся, на указанные в заявке адреса электронной почты, ссылку для прохождения онлайн-тестирования.'
        },
        {
            date: 'с 10.06.2022 по 30.09.2022',
            title: 'Расписание 1 тур (онлайн)',
            title: '01.10.2022 г. Оргкомитет направляет в вузы список студентов, прошедших 1 этап, для дальнейшего формирования ВУЗом команд (состав: до 5 человек в каждой команде + сопровождающий).'
        },
        {
            date: '01.11.2022 г..',
            title: 'Расписание 2 тур (очно:день 1)',
            title: 'Торжественное открытие очного тура, включающее демонстрацию визитных карточек; письменное задание для всех участников очного этапа; спортивные мероприятия/ лекции для сопровождающих.'
        },
        {
            date: '02.11.2022 г..',
            title: 'Расписание 2-3 тур (очно:день 2)',
            title: 'Командное решение кейс-заданий (дискуссия); индивидуальные выступления/ мастер-классы для сопровождающих.'
        },
    ]


mixin lineup-block
    section.section-lineup-block(style="background-image: url(/img/last-news-pattern.svg)")
        .container
            .lineup-block 
                .lineup-block__title Расписание
                .lineup-block__list
                    each item in lineup
                        .lineup-block__item: +card-lineup()

mixin card-lineup()
    .card-lineup
        .card-lineup__date: span с 10.06.2022  по 30.09.2022
        .card-lineup__title Регистрация заявок от ВУЗа
        .card-lineup__desc Вуз подает заявку на участие студентов. Оргкомитет отправляет учащимся, на указанные в заявке адреса электронной почты, ссылку для прохождения онлайн-тестирования.
