extends ../layouts/index


block variables
  include ../../data/data.pug
  - const title = "Mars"


block content

  include ../../blocks/components/breadcrumb/breadcrumb.pug
  include ../../blocks/modules/page-team/page-team.pug

  .container
    .page 
     .page__breadcrumbs
      +breadcrumb([
        'Главная',
        'Об организации',
        'Сотрудники'
      ])
     .page__title
        h1 Сотрудники
     .page__content
        +page-team()

block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
 
