mixin fb-qualification
    section.section-fb-qualification    
        .container
            .fb-qualification
                .fb-qualification__left
                    .fb-qualification__image: +picture('/img/photo-qualification')
                    .fb-qualification__details
                        .fb-qualification__start
                            .fb-qualification__text Ближайший старт группы
                            .fb-qualification__date 15 августа
                        .fb-qualification__finish
                            .fb-qualification__text Прием документов
                            .fb-qualification__date до 28 июня
                .fb-qualification__right(style="background-image: url(/img/photo-qualification.jpg)")
                    .fb-qualification__wrp          
                        .fb-qualification__title: h1  Русский язык для иностранных студентов-медиков: интенсивный корректировочный курс
                        .fb-qualification__desc Курс предназначен для иностранных граждан, имеющих/получающих среднее профессиональное или высшее медицинское образование, желающих пройти интенсивное обучение по русскому языку с целью корректировки, развития и совершенствования навыков и умений общения в учебной и профессиональной сферах.
                        .fb-qualification__btn
                            button.btn Записаться
