mixin gallery-details
    .gallery-details
        .gallery-details__top
            .gallery-details__tags
                ul
                    li: a(href='#') Июль 2022
                    li: a(href='#') Россия
                    li: a(href='#') Москва

            .gallery-details__name: h1 VIII Международная научно-практическая конференция «Би-, поли-, транслингвизм и лингвистическое образование»
        .gallery-details__list
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-1.jpg"): +picture('/img/gallery/Mask-group-1')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-2.jpg"): +picture('/img/gallery/Mask-group-2')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-3.jpg"): +picture('/img/gallery/Mask-group-3')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-4.jpg"): +picture('/img/gallery/Mask-group-4')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-5.jpg"): +picture('/img/gallery/Mask-group-5')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-6.jpg"): +picture('/img/gallery/Mask-group-6')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-7.jpg"): +picture('/img/gallery/Mask-group-7')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-8.jpg"): +picture('/img/gallery/Mask-group-8')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-3.jpg"): +picture('/img/gallery/Mask-group-3')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-4.jpg"): +picture('/img/gallery/Mask-group-4')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-5.jpg"): +picture('/img/gallery/Mask-group-5')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-6.jpg"): +picture('/img/gallery/Mask-group-6')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-7.jpg"): +picture('/img/gallery/Mask-group-7')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-8.jpg"): +picture('/img/gallery/Mask-group-8')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-3.jpg"): +picture('/img/gallery/Mask-group-3')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-4.jpg"): +picture('/img/gallery/Mask-group-4')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-5.jpg"): +picture('/img/gallery/Mask-group-5')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-6.jpg"): +picture('/img/gallery/Mask-group-6')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-7.jpg"): +picture('/img/gallery/Mask-group-7')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-8.jpg"): +picture('/img/gallery/Mask-group-8')
            .gallery-details__item(data-fancybox="" data-src="/img/gallery/Mask-group-3.jpg"): +picture('/img/gallery/Mask-group-3')