include ../../components/faq/faq.pug

-
    var faqq = [
        {
            title:'Какие правила приема в РУДН? ',
            answer: [
                'Дополнительная общеобразовательная программа «Русский язык для иностранных студентов медиков: интенсивный корректировочный курс» является программой модульного типа, в которой каждый модуль самодостаточен и направлен на решение определенных задач обучения.',
                'Модульная структура программы обеспечивает возможность обучения по индивидуальным образовательным траекториям, включающим 1, 2 либо 3 модуля, в зависимости от образовательных потребностей слушателей. Возможно пройти один из 3-х модулей отдельно.'
            ],
        },
        {
            title:'Какие существуют варианты оплаты? ',
             answer: [
                'Дополнительная общеобразовательная программа «Русский язык для иностранных студентов медиков: интенсивный корректировочный курс» является программой модульного типа, в которой каждый модуль самодостаточен и направлен на решение определенных задач обучения.',
                'Модульная структура программы обеспечивает возможность обучения по индивидуальным образовательным траекториям, включающим 1, 2 либо 3 модуля, в зависимости от образовательных потребностей слушателей. Возможно пройти один из 3-х модулей отдельно.'
            ],
        },
        {
            title:'Как происходит дистанционное обучение? ',
            answer: [
                'Дополнительная общеобразовательная программа «Русский язык для иностранных студентов медиков: интенсивный корректировочный курс» является программой модульного типа, в которой каждый модуль самодостаточен и направлен на решение определенных задач обучения.',
                'Модульная структура программы обеспечивает возможность обучения по индивидуальным образовательным траекториям, включающим 1, 2 либо 3 модуля, в зависимости от образовательных потребностей слушателей. Возможно пройти один из 3-х модулей отдельно.'
            ],
        },
        {
            title:'Где территориально находится Институт? ',
             answer: [
                'Дополнительная общеобразовательная программа «Русский язык для иностранных студентов медиков: интенсивный корректировочный курс» является программой модульного типа, в которой каждый модуль самодостаточен и направлен на решение определенных задач обучения.',
                'Модульная структура программы обеспечивает возможность обучения по индивидуальным образовательным траекториям, включающим 1, 2 либо 3 модуля, в зависимости от образовательных потребностей слушателей. Возможно пройти один из 3-х модулей отдельно.'
            ],
        },
        {
            title:'Как можно с нами связаться для дополнительной информации? ',
             answer: [
                'Дополнительная общеобразовательная программа «Русский язык для иностранных студентов медиков: интенсивный корректировочный курс» является программой модульного типа, в которой каждый модуль самодостаточен и направлен на решение определенных задач обучения.',
                'Модульная структура программы обеспечивает возможность обучения по индивидуальным образовательным траекториям, включающим 1, 2 либо 3 модуля, в зависимости от образовательных потребностей слушателей. Возможно пройти один из 3-х модулей отдельно.'
            ],
        },
         
    ]

mixin faq-qualification
    section.section-faq-qualification   
        .container
            .faq-qualification
                .faq-qualification__title Вопросы <br> и ответы
                .faq-qualification__faq: +faq(faqq)

