mixin our-partners-block
    section.section-our-partners-block
        .container
            .our-partners-block 
                .our-partners-block__title Партнеры <br> ассоциации
                .our-partners-block__list 
                    ul 
                        li: +bgimage('/img/logo_partner_01.png')
                        li: +bgimage('/img/logo_partner_02.png')
                        li: +bgimage('/img/logo_partner_03.png')
                        li: +bgimage('/img/logo_partner_04.png')
