mixin cost-qualification
    section.section-cost-qualification  
        .container
            .cost-qualification
                .cost-qualification__left
                    .cost-qualification__top Сэкономьте ещё <br> до 3 120 ₽
                    .cost-qualification__bottom Возможно оформление <br> налогового вычета
                .cost-qualification__right
                    .cost-qualification__title Стоимость <br> обучения
                    .cost-qualification__price
                        .cost-qualification__box(style="background-image: url(/img/pattern-cost.svg)")
                            .cost-qualification__box-title Дистанционное обучение (программа)
                            .cost-qualification__box-cost 24 000 ₽
                        .cost-qualification__box(style="background-image: url(/img/pattern-cost.svg)")
                            .cost-qualification__box-title Один модуль
                            .cost-qualification__box-cost 8 000 ₽
