mixin about-image
    section.section-about-image(style="background-image: url(/img/common/bggoal.svg)")
        .container
            .about-image
                .about-image__image
                    +picture('/img/about-photo')
