mixin media-details (data)
    .details-libray
        .details-libray__image
            +picture('/img/image-libray')
           

        .details-libray__main
            .details-libray__autor Кондратий Петрович Биркин
            .details-libray__title: a(href='media-details.html') Анна Австрийская. Кардинал Мазарини. <br> Детство Людовика XIV
            .details-libray__desc
                span Вдовствующей королеве Анне Австрийской, назначенной Людовиком XIII правительницей Франции, в год кончины короля исполнилось сорок два года. Трудно было узнать прежнюю красавицу в разжирелой матроне, с одутловатым румяным лицом, крючковатым носом, отвислой нижней губой и двойным подбородком. В нравственном отношении Анна Австрийская точно так же изменилась, как и в физическом. 
            .details-libray__link
                    a(href='#'): button.btn Скачать
                
