mixin process-qualification
    section.section-process-qualification   
        .container
            .process-qualification process-qualification
-
    var lastNews = [
        {
            date: '01',
            title: 'Сохранение лидирующих позиций РУДН в области продвижения русского языка и культурного наследия России в достоянии современной цивилизации:',
        },
        {
            date: '02',
            title: 'Создание высококонкурентных образовательных программ и продуктов, отражающих потребности трансформирующегося планетарного социума:',
        },
        {
            date: '03',
            title: 'Развитие классической научной и научно-методической школ, научных направлений, а также создание междисциплинарных направлений',
        },
        {
            date: '04',
            title: 'Создание инновационной академической интернациональной адаптирующей среды для вовлечения в российское образовательное пространство иностранных учащихся:',
        },
        {
            date: '05',
            title: 'Развитие кадрового потенциала ИРЯ',
        },
        
        
    ]

mixin process-qualification
    section.section-process-qualification(style="background-image: url(/img/last-news-pattern.svg)")
        .container
            .process-qualification
                .process-qualification__wrp
                    .process-qualification__left
                        .process-qualification__title Как проходит обучение
                        .process-qualification__subtitle Программа реализуется в дистанционном формате под руководством преподавателей и тьюторов
                        .process-qualification__desc
                            p Дополнительная общеобразовательная программа «Русский язык для иностранных студентов медиков: интенсивный корректировочный курс» является программой модульного типа, в которой каждый модуль самодостаточен и направлен на решение определенных задач обучения.
                            p Модульная структура программы обеспечивает возможность обучения по индивидуальным образовательным траекториям, включающим 1, 2 либо 3 модуля, в зависимости от образовательных потребностей слушателей. Возможно пройти один из 3-х модулей отдельно.
                     
                    .process-qualification__right
                        .process-qualification__list
                            ul
                                li онлайн лекции
                                li мастер-классы в режиме вебинара и в записи
                                li методические мастерские
                                li презентации
                                li видеолекции в записи
                                li текстовые материалы для самостоятельного изучения
                                li программа реализуется с применением дистанционных технологий под руководством преподавателей и тьюторов и самостоятельно слушателями на основе тех знаний и компетенций, которые были получены на занятиях
                                li вы получите пакет учебно-методической документации и доступ к обучающим платформам 24/7
                        
mixin question-block
    section.section-question-block.section-question-block--expert
        .container
            .question-block
                .question-block__title Учитесь у экспертов
                .question-block__btn
                    button.btn Задать вопрос