include ../../components/pagination/pagination.pug
 


mixin page-traning
    .page-traning
        .page-traning__aside

            .page-aside(data-filter-open="container")
                .page-aside__close 
                    span(data-filter-open="close"): +icons('#ic_burger-menu-close', 28)
                 
                .page-aside__filter
                    form(action='#' method='POST')
                        .page-aside__select
                            select(name="year")
                                option(value="0") Организация
                                option(value="1") Организация 1
                                option(value="2") Организация 2
                                option(value="3") Организация 3
                        .page-aside__label Вид обучения
                        .page-aside__fields
                            .page-aside__input: +checkbox('Общеобразовательные предметы')
                            .page-aside__input: +checkbox('Повышение квалификации')
                        .page-aside__label Для кого
                        .page-aside__fields
                            .page-aside__input: +checkbox('For foreigners')
                            .page-aside__input: +checkbox('Студентам')
                            .page-aside__input: +checkbox('Бизнесу')
                            .page-aside__input: +checkbox('Преподавателям')
                            .page-aside__input: +checkbox('Тесторам')
                        .page-aside__label Для кого
                        .page-aside__fields
                            .page-aside__input: +checkbox('Дистанционное обучение')
                            .page-aside__input: +checkbox('Очное')
                            
                            
                        .page-aside__apply
                            button.btn Применить
            
            .page-aside-open(data-filter-open="btn") Фильтры

        .page-traning__content
            .page-traning__list
                each item in [1,1,1,1,1]
                    .page-traning__item: +card-traning(item)
            .page-traning__pagination
                +pagination()

mixin card-traning(data)
    .card-traning
        .card-traning__title: a(href='#') Русский язык для иностранных студентов-медиков: интенсивный корректировочный курс
        .card-traning__desc Курс предназначен для иностранных граждан, имеющих/получающих среднее профессиональное или высшее медицинское образование, желающих пройти интенсивное обучение по русскому языку с целью корректировки, развития и совершенствования навыков и умений общения в учебной и профессиональной сферах.
        .card-traning__bottom
            .card-traning__prop
                ul 
                    li
                        +icons('#ic-time', 24)
                        span Начало 1 июля
                    li
                        +icons('#ic-laptop', 24)
                        span Дистанционное обучение
                    li
                        +icons('#ic-box', 24)
                        span 54 ак. часа
                    li
                        +icons('#ic-calendar', 24)
                        span 3 недели
            .card-traning__link
                a(href='#'): span.hover-arrow: +icons('#ic_hover-arrow-gray', 35)
         

