.section-pagination {
    @include section-padding;
    padding-top: 0 !important;
    padding-bottom: 75px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;



    &__page {

        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $w992) {
            margin-left: 0;
        }

        & ul {
            display: flex;
            list-style-type: none;

            & li {

                margin-left: rem(5);

                @media screen and (min-width: $w992) {
                    margin-left: rem(10);
                }

                &:first-child {
                    margin-left: 0;
                }

                &.active a {
                    background-color: $blue;
                    color: #fff;

                    & svg {
                        fill: #fff;
                    }
                }

                & a {
                    width: rem(35);
                    height: rem(35);
                    display: flex;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    color: $black;
                    background-color: #D8E1EA;
                    font-size: 14px;
                    font-weight: 600;

                    @media screen and (min-width: $w992) {
                        width: rem(58);
                        height: rem(58);
                        font-size: 18px;
                    }

                    & svg {
                        fill: #000;
                    }




                    &:hover {
                        background-color: $blue;
                        color: #fff;

                        & svg {
                            fill: #fff;
                        }
                    }
                }

                &.prev,
                &.next {
                    & a {
                        width: 45px;
                        border-radius: 55px;

                        & svg {
                            width: 12px;

                            @media screen and (min-width: $w992) {
                                width: 15px;
                            }
                        }

                        @media screen and (min-width: $w992) {
                            width: 76px;
                        }

                        &:hover {
                            & svg {
                                filter: brightness(1) invert(1);
                            }
                        }
                    }
                }

            }
        }

    }
}