mixin school-selection-block
    section.section-school-selection-block
        .container
            .school-selection-block
                .school-selection-block__wrp
                    .school-selection-block__title Подберем для вас <br> лучшую школу
                    .school-selection-block__btn
                        button.btn(data-modal="signup") Подобрать школу
