mixin we-are-block
    section.section-we-are-block
        .container
            .we-are-block
                .we-are-block__intro
                    .we-are-block__subtitle WORLD ASSOCIATION <br> of RUSSIAN SCHOOLS
                    .we-are-block__title Мы это
                .we-are-block__first(style="background-image: url('/img/01.svg')")
                    .we-are-block__number 01.
                    .we-are-block__desc Высокая квалификация и профессионализм педагогического сообщества
                .we-are-block__two
                    .we-are-block__number 02.
                    .we-are-block__desc Успешная реализация совместных международных проектов по русскому языку на протяжении десятилетия
                .we-are-block__three
                    .we-are-block__number 03.
                    .we-are-block__desc Ежегодное проведение культурно-просветительских мероприятий на площадках русских школ
                .we-are-block__middle
                    +picture('/img/we-are-photo')
                .we-are-block__four(style="background-image: url('/img/04.svg')")
                    .we-are-block__number 04.
                    .we-are-block__desc Экспертная оценка учебников и пособий по русскому языку для русских школ
                .we-are-block__img
                    +picture('/img/we-are-img')
                .we-are-block__five(style="background-image: url('/img/05.svg')")
                    .we-are-block__number 05.
                    .we-are-block__desc Многолетний опыт разработки страновых линеек учебников для детей дошкольного и школьного возраста
                .we-are-block__six
                    .we-are-block__number 06.
                    .we-are-block__desc Инновационные практики создания цифровых образовательных продуктов по русскому языку и предметам на русском языке
