.section-first-block {

    background-color: $blue;
    color: #fff;


}

.first-block {
    padding-top: 40px;



    @media screen and (min-width: $w1200) {
        display: flex;
        padding-top: 0;
    }

    &__left {

        position: relative;
        overflow: hidden;

        @media screen and (min-width: $w1200) {
            width: 72%;
            padding-right: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 580px;

            padding-left: 140px;
        }

        @media screen and (min-width: $w1440) {
            padding-left: 0;
        }

        & .swiper-container {

            & .swiper-wrapper {}

            &:not(.swiper-initialized) {
                & .swiper-slide {
                    display: none;

                    &:first-child {
                        display: block;
                    }
                }
            }

            & .swiper-dots {
                padding-top: 5px;
            }

            & .swiper-pagination-bullet {
                width: 12px;
                height: 12px;

                background-color: $green;
                opacity: 1;

                &-active {
                    background-color: #fff;
                }
            }

            & .swiper-slide {
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-active {
                    opacity: 1;
                }
            }

            & .slider-nav {

                padding-top: 30px;
                display: flex;
                justify-content: center;
                padding-bottom: 30px;

                @media screen and (min-width: $w1440) {
                    padding-top: 0;
                }

                @media screen and (min-width: $w992) {
                    justify-content: flex-start;

                }

                @media screen and (min-width: $w576) {
                    padding-bottom: 0;
                }

                & svg {
                    filter: invert(1) brightness(2);
                }

                &__next {
                    & svg {
                        margin-left: 3px;
                    }
                }

                &__prev {
                    & svg {
                        margin-right: 2px;
                    }
                }

                &__next,
                &__prev {
                    width: 45px;
                    height: 45px;


                    & svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }

    &__right {
        @media screen and (min-width: $w576) {
            padding-top: 30px;
        }

        @media screen and (min-width: $w1200) {
            width: 28%;
            padding-top: 0;
        }
    }

    &__title {

        padding-bottom: 20px;
        position: relative;
        z-index: 1;

        @media screen and (min-width: $w1200) {
            max-width: 540px;
            padding-bottom: 40px;
        }

        & span,
        & h1 {
            font-size: 40px;
            line-height: 110%;
            font-weight: 700;

            @media screen and (min-width: $w992) {
                font-size: 57px;
            }

            @media screen and (min-width: $w760) {
                text-align: center;
            }

            @media screen and (min-width: $w1200) {
                text-align: left;
            }
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 156%;
        position: relative;
        z-index: 1;

        @media screen and (min-width: $w760) {
            text-align: center;
            padding-bottom: 35px;
        }

        @media screen and (min-width: $w1200) {
            max-width: 380px;
            text-align: left;
            padding-bottom: 0;
        }
    }

    &__image {
        margin-top: -60px;
        margin-left: -25%;
        margin-right: -35%;

        @media screen and (min-width: $w576) {
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
        }

        @media screen and (min-width: $w1200) {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.swiper-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 30px;
    right: 30px;

    &__next,
    &__prev {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    & svg {
        filter: invert(1) brightness(2);
    }

}

.fb-event-card {

    background-color: $green;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;

    @media screen and (min-width: $w480) {
        margin-left: 0px;
        margin-right: 0px;
    }

    @media screen and (min-width: $w760) {
        display: flex;
        padding: 0;
    }

    @media screen and (min-width: $w1200) {
        flex-direction: column;
    }

    &__image {
        display: none;

        & img {
            object-fit: cover;
        }

        @media screen and (min-width: $w760) {
            display: block;

            & img {
                width: 300px;
                min-width: 300px;
                height: 240px;
            }
        }

        @media screen and (min-width: $w1200) {

            & picture {
                padding-top: 85%;
                position: relative;
                display: block;

                & img {
                    @include layer(1);
                    width: 100%;
                    height: 100%;
                }
            }


        }
    }

    &__main {
        padding: 0;

        @media screen and (min-width: $w760) {
            padding: 20px;
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    &__title {

        min-height: 80px;

        @media screen and (min-width: $w1200) {
            min-height: 130px;
        }

        & a {
            font-size: 16px;
            font-weight: 600;
            color: #fff;

            @include line-clamp(4);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }

    &__location {
        display: flex;
        align-items: center;

        & svg {
            margin-right: 10px;
        }
    }

    &__link {
        & svg path {
            stroke: #fff;
            stroke-width: 2px;
        }
    }
}

.hover-arrow {

    & svg {
        transition: 0.3s ease;
    }

    &:hover {
        & svg {
            transform: rotate(90deg);
        }
    }
}