.page-contacts {
    &__top {}

    &__item {
        padding-bottom: 50px;

        @media screen and (min-width: $w760) {
            padding: 15px;
        }

        @media screen and (min-width: $w992) {
            width: 33.33%;
        }
    }

    &__list {
        @media screen and (min-width: $w760) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }


    }

    &__map {
        margin-top: 40px;
        background-color: #fff;
    }
}

.card-contacts {

    display: flex;

    @media screen and (min-width: $w992) {
        flex-direction: column;
    }

    &__title {
        font-size: 16px;
        padding-bottom: 20px;
        width: 100px;
        min-width: 100px;
        line-height: 150%;

        @media screen and (min-width: $w992) {
            width: auto;
            padding-bottom: 30px;
        }
    }

    &__link {
        & a {
            font-size: 16px;
            font-weight: 600;
            display: block;
            margin-bottom: 15px;
            line-height: 150%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        max-width: 1080px;
        margin: 0 auto;
    }
}

.contacts-map {

    display: flex;

    &__left {
        @media screen and (min-width: $w1200) {
            width: 395px;
        }

        max-height: 600px;
        overflow-y: auto;

        &>ul {
            padding: 14px;

            &>li {

                &.open {

                    &>a {
                        background: #EDF2F5;

                        &::after {
                            opacity: 1;
                            transform: rotate(180deg);
                        }
                    }

                    & .sub {
                        display: block;
                    }
                }

                &>a {


                    &::after {
                        content: '';
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5IDZsLTguNSA5TDIgNiIgc3Ryb2tlPSIjMUYxRjFGIiBzdHJva2Utb3BhY2l0eT0iLjUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9zdmc+);
                        width: 21px;
                        height: 21px;
                        display: block;
                        opacity: 0;
                        cursor: pointer;
                        position: absolute;
                        right: 15px;
                        top: 15px;
                    }




                    &:hover {

                        background: #EDF2F5;

                        &::after {
                            opacity: 1;
                            transition: 0.3s ease;
                        }
                    }
                }

                & a {
                    border-radius: 2px;
                    padding: 15px;
                    font-weight: 600;
                    font-size: 16px;
                    position: relative;
                    display: block;
                    background-size: contain;
                }







                &>ul.sub {

                    display: none;
                    background-color: #eee;
                    margin-top: 5px;

                    & li {
                        font-size: 14px;
                    }

                    & a {

                        transition: 0.3s ease;

                        &:hover {
                            transform: translateX(10px);
                        }
                    }



                }
            }

        }
    }

    &__ymap {
        background-color: #eee;
        flex-grow: 1;
    }
}