- 
  const app = {

    mainMenu: [
      { 'text': 'Об ассоциации',
        'href': '#',
        'sub': [
           { 'text': 'Об ассоциации',  'href': 'programs.html'},
           { 'text': 'Сотрудники',  'href': 'programs.html'},
        ]
        },
      { 'text': 'Новости',  'href': 'programs.html'},
      { 'text': 'Наши школы',  'href': 'hall.html'},
      { 'text': 'Галерея',  'href': 'participant.html'},
      { 'text': 'Повышение квалификации',  'href': 'events.html'},
      { 'text': 'Медиатека (Библиотека)',  'href': 'events.html'},
      { 'text': 'Проекты и мероприятия',  'href': 'events.html'},
      { 'text': 'Контакты',  'href': 'events.html'},
      
      
    ],

    
  }





















