- 
  const app = {

    mainMenu: [
      { 'text': 'Об ассоциации',
        'href': 'about.html',
        'sub': [
           { 'text': 'Об ассоциации',  'href': 'about.html'},
           { 'text': 'Сотрудники',  'href': 'team.html'},
        ]
        },
      { 'text': 'Новости',  'href': 'news.html'},
      { 'text': 'Наши школы',  'href': 'schools.html'},
      { 'text': 'Галерея',  'href': 'gallery.html'},
      { 'text': 'Повышение квалификации',  'href': 'traning.html'},
      { 'text': 'Медиатека (Библиотека)',  'href': 'media.html'},
      { 'text': 'Проекты и мероприятия',  'href': 'projects.html'},
      { 'text': 'Контакты',  'href': 'contacts.html'},
      
      
    ],

    
  }














